
<div class="row">
  <div class="col-xs-4">
    <h4 class="page-title">Properties Multi-Select</h4>
  </div>
  <div class="col-xs-8 text-right m-b-30">
    <div class="view-icons">
    </div>
  </div>
</div>

<div class="row">
  
  <div class="col-md-6">
    <label  class="control-label"> Submarket (Washginton) </label>
    <tags-input class="form-control input-lg" (onTagsChanged)="onSubmarketWashgintonChanged($event)" 
      [removeLastOnBackspace]="removeLastOnBackspace" [canDeleteTags]="canDeleteTags"
       [(ngModel)]="submarketWashginton" name="tags">
    </tags-input>
  </div>

  <div class="col-md-6">
      <label  class="control-label"> Submarket (Oregon) </label>
      <tags-input class="form-control input-lg" (onTagsChanged)="onSubmarketOregonChanged($event)" 
        [removeLastOnBackspace]="removeLastOnBackspace" [canDeleteTags]="canDeleteTags"
         [(ngModel)]="submarketOregon" name="tags">
      </tags-input>
    </div>

    <div class="col-md-6">
        <label  class="control-label"> Site Amenities </label>
        <tags-input class="form-control input-lg" (onTagsChanged)="onSiteAmenitiesChanged($event)" 
          [removeLastOnBackspace]="removeLastOnBackspace" [canDeleteTags]="canDeleteTags"
           [(ngModel)]="siteAmenities" name="tags">
        </tags-input>
      </div>

      <div class="col-md-6">
          <label  class="control-label"> Unit Amenities </label>
          <tags-input class="form-control input-lg" (onTagsChanged)="onUnitAmenitiesChanged($event)" 
            [removeLastOnBackspace]="removeLastOnBackspace" [canDeleteTags]="canDeleteTags"
             [(ngModel)]="unitAmenities" name="tags">
          </tags-input>
        </div>
</div>