a{
  cursor:pointer;
}
.account-logo img {
  width: 90%;
  margin-bottom: 4%;
  left: 1%;
  right: 1%;
  margin-top: 4%;
}

.account-box .account-btn {
  background: linear-gradient(to right, #0177c2 0%, #76bfe8 100%) !important;
  box-shadow: 0 6px 15px rgb(137, 198, 233) !important;
}

.account-box a:hover {
  color: #1382c8;
}
