<div class="main-wrapper" xmlns:https="http://www.w3.org/1999/xhtml">
  <div class="background-image" style=""></div>
  <div class="account-page">
    <div class="container animated fadeIn">
      <h3 class="account-title"></h3>
      <div class="account-box">
        <div class="account-wrapper">
          <div class="account-logo">
            <a href=""><img src="./../../assets/images/logo1.PNG" alt="Chatty CRM"></a>
          </div>
          <form >
            <div class="form-group form-focus">
              <label class="control-label">Email</label>
              <input id="email" id="form-control" class="form-control floating"  [(ngModel)]="email" name="email" type="text">
            </div>
            <div class="form-group form-focus">
              <label class="control-label">Password</label>
              <input password="password" class="form-control floating" [(ngModel)]="password" name="password" type="password">
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary btn-block account-btn" type="button" (click)="submit()" >Login</button>
            </div>
            <div style="line-height: 2.5em;" class="text-center">
              <a (click)="gotoForgotPassword()" style="color: #1382c8;font-size: 15px;">Forgot your password?</a><br>
              <span style="font-size: 16px;"> Don't have an account?</span> <a  (click)="gotoSignup()" style="color: #1382c8;"> Signup here!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

