<div class="marshall-bg-overley js-plaxify" data-xrange="50" data-yrange="25" style="top: 0px; left: 0px; transform: translate3d(7.21083px, -1.25841px, 0px);"></div>
<div class="marshall-content jquery-center" style="text-align: center; top: calc(50% - 185.483px);">
  <div class="marhall-maintain-thumb">
    <img src="https://pixiefy.com/themes/marshall/html/v24/images/v24/workers.png" alt="" class="js-plaxify" data-xrange="10" data-yrange="10" style="top: 0px; left: 248.4px; transform: translate3d(1.44217px, -0.703364px, 0px);">
  </div>
  <h2 class="js-plaxify" data-xrange="20" data-yrange="10" style="top: 200.6px; margin-top: 6%; left: 0px; transform: translate3d(2.88433px, -0.703364px, 0px);">Dashboard Comming Soon! Our development team is working hard; day and night.</h2>
  <h4 class="js-plaxify" data-xrange="40" data-yrange="15" style="top: 253.767px; left: 0px; transform: translate3d(5.76867px, -0.555046px, 0px);">Module one completed, Click <a style="color: #F7942C; cursor: pointer;" (click)="signout()" >Logout</a> to explore more fetures such as forgot password, conform password etc.</h4>

  <div class="simple-logo js-plaxify" data-xrange="50" data-yrange="20" style="top: 330.967px; left: 0px; transform: translate3d(7.21083px, -1.40673px, 0px);">
    <img src="images/logo-dark.png" alt="">
  </div>
</div>
