<div class="main-wrapper">
  <div class="background-image" style=""></div>
  <div class="account-page">
    <div class="container animated fadeIn">
      <h3 class="account-title">Signup</h3>
      <div style="margin-bottom: 30px;" class="account-box">
        <div class="account-wrapper">
          <div class="account-logo">
            <a href=""><img src="./../../assets/images/logo1.png" alt="Chatty CRM"></a>
          </div>
          <form>
            <div class="form-group form-focus">
              <label class="control-label">Username</label>
              <input name="username" required [(ngModel)]="username" class="form-control floating "  type="text">

            </div>

            <div class="form-group form-focus">
              <label class="control-label">Email</label>
              <input name="email" required [(ngModel)]="email" class="form-control floating" type="email">
            </div>
            <div class="form-group form-focus">
              <label class="control-label">Password</label>
              <input name="password" [(ngModel)]="password" class="form-control floating" type="password">
            </div>
            <div class="form-group form-focus">
              <label class="control-label">Repeat Password</label>
              <input name="conformPassword" [(ngModel)]="conformPassword" class="form-control floating" type="password">
            </div>
            <div class="form-group text-center">
              <button  class="btn btn-primary btn-block account-btn" (click)="submit()" type="button">Register</button>
            </div>
            <div class="text-center">
              <a (click)="gotoLogin()">Already have an account?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
